.nav {

	position:fixed;
	top:20vh;
	font-size:.85em;

	ul {

		position:relative;
		display:block;
		margin:0px 0px 0px 1em;
		padding:0px;

		li {

			list-style: none;
			padding: .2em;

			&.nav-heading {
				font-weight:bold;

				&:not(:first-child) {
					margin-top:.5em;
				}

				&:not(:last-child) {
					margin-bottom:.5em;
				}

			}

			a {

		    &.active {
		      color: pink;
					font-weight:bold;
		    }
		    &.inactive {
		      //color: blue;
		    }

			}

		}

	}
}

h1 {
	font-size:3em;

}

h2 {
	font-size: 3em;
	border-top: 10px solid aliceblue;
	padding-top:2em;
}

h3 {
	padding-top:2em;
	font-size:1.5em;
	border-top: 5px solid aliceblue;
}
