.nav {

	position:fixed;
	top:20vh;
	font-size:.85em;

	ul {

		position:relative;
		display:block;
		margin:0px;
		padding:0px;

		li {

			list-style: none;
			padding: .2em;

			&.nav-heading {
				font-weight:bold;

				&:not(:first-child) {
					margin-top:.5em;
				}

				&:not(:last-child) {
					margin-bottom:.5em;
				}

			}

			a {

		    &.active {
		      color: pink;
					font-weight:bold;
		    }
		    &.inactive {
		      //color: blue;
		    }

			}

		}

	}
}

h1 {
	font-size:2em;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size:1.2em;
}
